@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@media print {
  button {
    display: none;
  }
}

@import 'tailwindcss';

body {
  font-family: 'Poppins', sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
  }

  button {
    display: none !important;
  }
}
